{% extends "index.html" %}
{% block body %}

<script>
    function check()
    {

        var a = document.getElementById("confirmpassword").value;
        var b = document.getElementById("newpassword").value;
        if(a==b)
        {
            alert("same password");
        }
        else
        {
            document.getElementById("a").innerHTML='password not matched';
           return false;
        }

    }
</script>
<form action="/changepassword2" method="post" enctype="multipart/form-data" onsubmit="return check()">

    <table class="table table-bordered">
      <tr>
          <td width="200px">Old Password</td>
          <td><input type="password" name="oldpassword" required class="form-control" ></td>
      </tr>

      <tr>
          <td>New Password</td>
          <td><input type="password" name="newpassword" required class="form-control" id="newpassword"></td>
      </tr>

      <tr>
          <td>Confirm Password</td>
          <td><input type="password" name="confirmpassword" required class="form-control" id="confirmpassword"></td>
      </tr>

      <tr>
          <td></td>
          <td><input type="submit" value="Change Password" class="btn btn-success" ><br> <label id="a" style="color:red"></label></td>
          <td></td>
      </tr>
        </table>

</form>

{% endblock %}