{% extends "index.html" %}
{% block body %}

<form>
    <center>
        <table>
            <tr>
                <td><img src="static/images/{{originalimage}}" width="200" height="200"></td>
                <td></td>
                <td></td>
                <td><img src="static/images/a.jpg" width="100" height="100"></td>
            </tr>

            <tr>
                <td><a href="/adminpanel"  class="btn btn-success">Finish</a></td>

            </tr>
        </table>
    </center>
</form>

{% endblock %}