{% extends "index.html" %}
{% block body %}
<form method="post" enctype="multipart/form-data" action="/two_files_post">
    <table >
        <tr>
            <td>Choose Image 1</td>
            <td><input type="file" name="file1" /> </td>
        </tr>
        <tr>
            <td>Choose Image 2</td>
            <td><input type="file" name="file2" /> </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="SUBMIT"/> </td>
        </tr>
    </table>
</form>
{% endblock %}